h1 {
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
    text-shadow: 1px 1px;
    margin: 40px 20px;
}
p {
    font-size: 20px;
    color: darkmagenta;
    margin: 5px 40px;
}
div {
    margin: 10px 40px;
}